
    

<section class="hero is-fullheight with-bg-image">
    <div class="hero-body">
        <div class="container has-text-centered">
            <figure class="image is-256x256 centered">
                <img class="circular-square" src="/assets/me.png" >
            </figure>

            <br>
            <h1 class="title">
                    Hola! Soy Andrés García.
            </h1>
            <h2 class="subtitle">
                    Soy desarrollador Fullstack actualmente viviendo en Barcelona.
            </h2>

            <nav class="tabs is-centered">
                <ul><li class="social-list">
                    <a href="https://github.com/ioadres" target="_blank">
                        <span class="icon is-medium"><i class="fa fa-github"></i></span>
                    </a></li>
                    <li class="social-list"><a href="https://www.linkedin.com/in/ioadres" target="_blank">
                        <span class="icon is-medium"><i class="fa fa-linkedin"></i></span>
                    </a></li>
                    <li class="social-list"><a href="https://www.instagram.com/andres.ioadres/" target="_blank">
                        <span class="icon is-medium"><i class="fa fa-instagram"></i></span>
                    </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <br>
        <div class="columns">
                <div class="column is-2"></div>
            <div class="column is-2" *ngFor="let item of TechsRow1; let i = index">               
                <div class="card">
                    <div class="card-image">
                            <figure class="image is-4by3">
                                    <img [src]="item" alt="Placeholder image">
                            </figure>
                    </div>
                </div>
            </div>            
        </div>

        <div class="columns">
                <div class="column is-2" *ngFor="let item of TechsRow2; let i = index">               
                    <div class="card">
                        <div class="card-image">
                                <figure class="image is-4by3">
                                        <img [src]="item" alt="Placeholder image">
                                </figure>
                        </div>
                    </div>
                </div>            
            </div>
        
            <div class="columns">
                    <div class="column is-4"></div>
                <div class="column is-2" *ngFor="let item of TechsRow3; let i = index">               
                    <div class="card">
                        <div class="card-image">
                                <figure class="image is-4by3">
                                        <img [src]="item" alt="Placeholder image">
                                </figure>
                        </div>
                    </div>
                </div>            
            </div>       
    </div>
</section>
